<nav class="navbar navbar-inverse bg-primary fixed-top navbar-light bg-faded">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="/lab-1/">Lab 1</a></li>
        <li><a href="/lab-2/">Lab 2</a></li>
        <li><a href="/lab-3/">Lab 3</a></li>
        <li><a href="/lab-4/">Lab 4</a></li>
        <li><a href="/lab-5/">Lab 5</a></li>
        <li><a href="/lab-6/">Lab 6</a></li>
        <li><a href="/lab-7/">Lab 7</a></li>
        <li><a href="/lab-8/">Lab 8</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>