.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}

.feed {
    width: 90%;
    margin: 15px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.picture {
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 2;
    left: 7%;
    bottom: 19rem;
}

.profile {
    border-radius: 5px;
    box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.4);
    background-color: #FFFDE7;
}

.data {
    margin-left: 10px;
}

.input {
    padding: 10px;
}


.cover {
    width: 100%;
    height: 40rem;
}

#postInput {
    width: 100%;
}

#buttonGroup .btn {
    margin: 5px;
}

#buttonGroup {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.feed h2 {
    color: red;
    font-size: 2rem;
}

.feed h1 {
    font-size: 2.5rem;
}

body {
    background-color: #FFF8E1;
}

/*-----------------------------------------------------------------------------------*/
/*  Setup
/*-----------------------------------------------------------------------------------*/
.wrapper{
width: 760px;
height:200px;
margin-left:auto;
margin-right:auto;
padding-top:20px;
}
.right{
float:right;     /* A class I always add to float items right */
}
.left{
float:left;      /* To float items left*/
}

/*-----------------------------------------------------------------------------------*/
/*  Typography
/*-----------------------------------------------------------------------------------*/
 
a{
cursor: pointer;
color: #3B5998;
text-decoration: none;
}
a:hover{
text-decoration: underline;
}
strong{
font-weight:bold;
}
em{
font-style:italic;
}
h3{
font-size: 16px;
font-weight:bold;
line-height: 1.1em; 
margin-bottom:5px;
}
.postInfo{
display:block; /* Spans are inline element so needs to be changed to block in order for the margin to work */
color:#808080;
margin-top:5px;
margin-bottom:10px;
}
p{
font-size: 12px;
line-height: 1.5em;
margin-bottom:18px;
}
.line{
display:block;
width:100%;
height:1px;
background-color:#ccc;
margin-top:5px;
margin-bottom:5px;
}
.more{
color:#3B5998;
font-weight:bold;
 
}
.likesCount{
font-size:16px; 
font-weight:bold;
}

/*-----------------------------------------------------------------------------------*/
/*  Tabs
/*-----------------------------------------------------------------------------------*/
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 19px; /*--Set height of tabs--*/
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    width: 100%;
    margin-bottom:20px;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 18px; /*--Minus 1px from the height of  ul--*/
    line-height: 18px; /*--aligns text within the tab--*/
    border: 1px solid #E2E2E2;
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
    background: #f2f2f2;
    margin-right:5px;
    min-width:73px;
    text-align:center;
     
}
ul.tabs li:first-child{ /*--Removes the left border from the first child of the list--*/
border-left:none;   
     
}
ul.tabs li a {
    text-decoration: none;
    color: #333333;
    display: block;
    font-size: 11px;
 
    padding-right:5px;
    padding-left:5px;
 
    outline: none;
}
ul.tabs li a:hover {
    background: #fff;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
    background: #fff;
    border-bottom: 1px solid #fff; 
    color:#3B5998;
}
ul.tabs li.active a{
    color:#3B5998;  
}

/*-----------------------------------------------------------------------------------*/
/*  Buttons
/*-----------------------------------------------------------------------------------*/
.button{
    background-color:#ECEEF5;
    border:1px solid #CAD4E7;
    text-decoration:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
padding: 2px 3px 2px 2px;
margin-right:5px;
}
.button:hover{
    border:1px solid #9DACCE;
    text-decoration:none;
     
}
.buttonimage{
color: #3B5998;
display: block;
width:12px;
height:12px;
margin-right:3px;
margin-top:1px;
margin-bottom:1px;
margin-left:2px;    
}

/*-----------------------------------------------------------------------------------*/
/*  Extra Components
/*-----------------------------------------------------------------------------------*/
.logo{
width:379px;
height:60px;
margin-left:auto;
margin-right:auto;
margin-bottom:26px;
position: relative;
-moz-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
-webkit-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
}
.search{
padding: 1px 5px 2px 0;
margin-bottom:20px;
width:240px;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}
.tabHeader{
background-color: #F2F2F2;
border-top: solid 1px #E2E2E2;
padding: 4px 5px 5px;
margin-top:15px;
margin-bottom:10px;
}
.profileimage{
float:left; 
margin-right: 5px;
}

