{% extends "lab_7/layout/base.html" %}

{% block content %}
	<section name="friend-list" id="friend-list">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<h2> friend Fasilkom</h2>
					<div id="friend-list" class="list-group">

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block javascript %}
	<script>
		$( document ).ready(function () {
			//{# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
			$.ajax({
				method: "GET",
				url: "{% url "lab-7:daftar_teman_json" %}", //#URL untuk mendapatkan list teman],
				success: function (response) {
					// var Things = $.parseJSON(response);
					for (elem in response.daftarTeman) {
						html = '<a class="list-group-item clearfix">' + response.daftarTeman[elem].friend_name + response.daftarTeman[elem].npm + '<span class="pull-right"><span class="btn btn-xs btn-default" onClick="deleteFriend(' + response.daftarTeman[elem].id + ')">Hapus Teman</span></span></a>';
						$("#friend-list").append(html);
					}
					//#hint : gunakan fungsi jquery append()
				},
				error: function(error){
					//#tampilkan pesan error
					var html = '<div class="alert alert-danger text-center">\
								<strong>Oops!</strong> Tidak ada teman\
								</div>';
					$("#friend-list").append(html);
				}
			});
		});
		function deleteFriend (id) {
				window.open("../delete-friend/" + id + "/", "_self")
			}
	</script>
{% endblock %}
